html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

label,
h3 {
    display: block;
    margin: 0;
    padding: 0;
    font-size: large;
    font-weight: bold;
}

input {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: larger;
}

select {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: larger;
}

button {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: larger;
}

.formdiv {
    box-shadow: 5px 2px 10px;
    z-index: 5;
    overflow-y: auto;
}

pre {
    white-space: pre-wrap;
}

pre p {
    font-weight: 500;
}